@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --success-color: #2ECC71;
    --error-color: #E74C3C;
    --bg-color: #F9FAFB;
    --md-777: #777;
    --button-color: #3498db;
}


/* CSS master reset */
* {
    box-sizing: border-box;
    /* this ensures that element width is not affected tue to any padding etc. */
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", "sans-serif";
    background-color: var(--bg-color);

    display: flex;
    /* This will make, all the direct children will be flex items. */

    justify-content: center;
    /* Horizontally center the content. */

    min-height: 100vh;
    /* This expands the container size to full viewport. */

    align-items: center;
    /* this vertically center the container. */
}

.container {
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 400px;
}

.form {
    padding: 30px 40px;
    /*       TB   RL  */
}

h2 {
    text-align: center;
    margin: 0 0 20px;
    /* margin on the bottom only. */
}

.form-control {
    margin: 0 0 10px;
    padding: 0 0 20px;
    /* Both in bottom only. */

    position: relative;
    /* So as to set error message absolute, and hence on a new line. */
}

.form-control label {
    color: var(--md-777);
    display: block;
    margin: 0 0 5px;
}

.form-control input {
    border: 2px solid #F0F0F0;
    display: block;
    border-radius: 4px;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

.form-control input:focus {
    outline: 0;
    /* This removes preset border */

    border-color: var(--md-777);
}

.form-control.success input {
    border-color: var(--success-color);
}

.form-control.error input {
    border-color: var(--error-color);
}

.form-control small {
    color: var(--error-color);
    position: absolute;
    /* too reduce its bottom padding. */
    bottom: 0;
    left: 0;
    visibility: hidden;
    /* This will ensure that its placeholder is still there. despite hidden. */
}

.form-control.error small {
    visibility: visible;
    color: var(--error-color);
    /* it has to remain visible in case of success or error. */
}

.form button {
    cursor: pointer;
    background-color: var(--button-color);
    color: #FFF;
    border: 2px solid var(--button-color);
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin: 20px 0 0;
}