*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f1f1f1;
  font-family: roboto, sans-serif;
}

nav {
  position: absolute;
  padding: 30px;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 10;

}

nav a {
  color: #f1f1f1;
  font-size: 20px;
  margin: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}

nav a::after {
  content: "";
  background: rgb(235, 235, 210);
  bottom: -2px;
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
}

nav a:hover::after {
  background: black;
}

.home {
  height: 100vh;
  background-image: url("../homepage/ressources/citynight.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 0 50px;
  position: relative;
}

.home h1 {
  font-family: Montserrat, sans-serif;
  color: white;
  font-size: clamp(25px, 7vw, 110px);
  /* min - current - max */

  padding-top: 200px;
  text-transform: uppercase;
  font-weight: 900;
}

.subtitle {
  font-family: Robotto, sans-serif;
  color: white;
  font-size: clamp(20px, 7vw, 60px);
  /* min - current - max */
  font-weight: 900;
  letter-spacing: -1px;
}

.stream-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 225px;
  background: white;
  color: #333;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 12px;
  border-radius: 3px;
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}

.stream-link:hover{
  box-shadow: 0 5px 15px rgb(255,255,255, 0.2);
}

.stream-link img {
  width: 30px;
  height: 30px;
}

.floating-button {
  position: absolute;
  bottom: 5%;
  left: 50%;
  border-radius: 50%;
  border: 2px solid #f1f1f1;
  transform: translateX(-50%);
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 0 #fff;
  animation: pulse 1.3s infinite;
}

.floating-button img {
  width: 30px;
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 16px rgb(255,255,255, 0.01);
  }  
}

/* CSS for responsiveness at small screens */
@media screen and (max-width: 650px){
  .home {
    height: 60vh;
    padding: 0 25px;
  }

  .home h1 {
    padding-top: 100px;
  }

  .subtitle {
    margin-top: 5px;
  }

  nav a {
    font-size: 18px;
  }

  .stream-link {
    max-width: 145px;
    font-size: 14px;
  }

  .stream-link img {
    width: 25px;
    height: 25px;
  }

  .floating-button {
    width: 45px;
    height: 45px;
  }

  .floating-button img [
    width: 20px;
  ]
  
}